<div>
  <h1>Example 1 working with objects</h1>
  <h2>
    Seed (JS)
  </h2>

  <pre>
    model = {
      array1 = [{
        id: 1,
        label: 'yellow'
      }, {
        id: 2,
        label: 'green'
      }, {
        id: 12,
        label: 'red'
      }],

      // just to make a twist it is Ember.Object
      defaultValue: Ember.Object.create({id: 12, label: 'red'})
    }
  </pre>

  <h2>Handlebar (FYI: the value is the object)</h2>
  <pre>
    &#123;&#123;#bg-select selected=model.defaultValue as |bg|}}
      &#123;&#123;#bg.option value=""}}Select one&#123;&#123;/bg.option}}
      &#123;&#123;#each model.array1 as |obj|}}
        &#123;&#123;#bg.option value=obj}}&#123;&#123;obj.label}}&#123;&#123;/bg.option}}
      &#123;&#123;/each}}
    &#123;&#123;/bg-select}}
  </pre>
</div>
<div class="row">
  <h2>Result</h2>
  <div class="col-xs-3">
    {{#bg-select class="form-control"
      onSelectChange=(action 'onChangeHandler')
      aria-label="Select a colour"
      tabindex=2
      selected=model.defaultValue
      as |bg|
    }}
      {{#bg.option value=""}}Select one{{/bg.option}}
      {{#each model.array1 as |el|}}
        {{#bg.option value=el}}{{el.label}}{{/bg.option}}
      {{/each}}
    {{/bg-select}}
  </div>
  <div class="col-xs-3">
      Result:

      <code class="result">{{result}}</code>
  </div>
</div>
<hr />
